@model IEnumerable<GraboWebProject.Product>

@{
    ViewBag.Title = "Find";
}

<h2>Find</h2>
<!doctype html>
<html>
<head>
    <style type="text/css">
        body
        {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        .result
        {
        	margin-top: 40px;
        }
        .navigation
        {
            margin-left: auto;
            margin-right: auto;
            width: 960px;
            height: 1000px;
        }
        .main
        {
            margin-left: auto;
            margin-right: auto;
            width: 750px;
        }      

        .search-input
        {
            width: 400px;
        }
        
    </style>
</head>
<body>
    
    <div class="navigation">
        <div class="main">
            <div id="search">
                <form action="" method="post">
                <input type="text" name="criteria" value="Product" class="search-input">
                <input type="submit" value="Search">
                </form>
            </div>
            @foreach(var item in Model)
            {
                <div class="result">
                    <a href="../SelectProduct?selected=@item.Name" name="name">@Html.DisplayFor(modelItem => item.Name)</a>
                </div>
            }
        </div>
    </div>
</body>
