@model GraboWebProject.User
@{
    ViewBag.Title = "User Profile";
}
<h2>
    <i>hello,</i> @Model.FirstName</h2>
    <p>
        Use this page to define your profile. We're here to help you so the better you profile
        the more we'll be able to guide you with more information about how the things you
        consume every day impact your health.
    </p>
     
     @Html.ActionLink( "Personal Profile", "Edit", new { userId = Model.Id } )
     <i>Health Profile</i>
     <hr />

    <section>
        <h2>Health Profile</h2>
        <p>Here you can define a list of your personal health preferences:</p>

         @Html.ActionLink( "+ Add New", "AddAllergy", new { userId = Model.Id } )
    </section>
