@model IEnumerable<GraboWebProject.Purchase>
@{
    ViewBag.Title = "Home Page";
}
@*<h2>@ViewBag.Message</h2>*@
<!doctype html>
<html>
<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>     
</head>
<body>

    <div>
    Login user

    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink( "Login", "Login" )

    </div>
    
</body>
</html>
